.cast-list-title{
  margin-left: 5%;
  text-decoration: underline;
}

.actors-section {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;

}

.actors-section-left {
  flex: 5%;
 
}

.actors-section-mid {
  flex: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2%;
}

.actor-card {
  margin-left: 5px;
  margin-right: 5px;
}

.actors-section-right {
  flex: 5%;
}
.actors-section Button {
  height: 100%;
  padding: 10px;
  margin: 10% 5% 0% 5%;
  font-size: 2.5em;
  background-color: transparent;
  border: none;
}

.actors-section Button:hover {
  background-color: #212121;
}
