.film-movie-sections hr{
  margin-left: 3%;
  margin-right: 3%;
}

.film-type-name{
  margin-top: 10px;
  margin-left: 7%;
  text-decoration: underline;
}

.card-grid {
  display: flex;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 3%;
  padding-right: 3%;
 
}

.card-grid-left Button {
  height: 100%;
  padding: 10px;
  margin: 10% 5% 0% 5%;
  font-size: 2.5em;
  background-color: transparent;
  /* background-color: #212121; */
  border: none;
}
.card-grid-left Button:hover{
  background-color: #212121;
}



.card-grid-mid {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;

}

.card-grid-mid img {
  width: 100%;
}

.individual-card {
  margin-left: 10px;
  margin-right: 10px;
}

.card-grid-right Button {
  height: 100%;
  padding: 10px;
  margin: 10% 5% 0% 5%;
  font-size: 2.5em;
  background-color: transparent;
  border: none;
}

.card-grid-right Button:hover{
  background-color: #212121;
}



.card-video-section iframe{
  width: 100%;
  height:200px;
  background-color: black;
  padding: 4%;
}

.card-video-section-details{

padding: 4%;
text-align: center;

}

.card-video-section button{
  width:50%
}