.movie-trailer-section-title {
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40px;
}

.movie-trailer-section {
  display: flex;
  margin: 2%;
}

/* .movie-trailer-section-left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
} */

.movie-trailer-section-mid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.movie-trailer-section-mid-video {
  margin-right: 10px;
  flex: 20%;
}

/* .movie-trailer-section-right {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
} */

.movie-trailer-section Button {
  height: 100%;
  padding: 10px;
  margin: 10% 5% 0% 5%;
  font-size: 2.5em;
  /* background-color: #212121; */
  background-color: transparent;
  border: none;
}

.movie-trailer-section-mid-video iframe{
  width: 100%;
  height: 200px;
}
